$igaming-color-orange-10: #e7dcd7;
$igaming-color-orange-70: #ea580c;
$igaming-color-orange-80: #ca4a07;
$igaming-color-blue-60: #003a90;
$igaming-color-blue-80: #1a324e;
$igaming-color-blue-90: #001b3a;
$igaming-color-light-blue-5: #e5f1ff;
$igaming-color-light-blue-30: #14a7df;
$igaming-color-light-blue-40: #1a86ce;
$igaming-color-light-blue-50: #0f5a99;
$igaming-color-cyan-70: #00728b;
$igaming-color-blue-grey-5: #eaedf3;
$igaming-color-blue-grey-20: #a6b1bf;
$igaming-color-grey-0: #ffffff;
$igaming-color-grey-30: #f9f9f9;
$igaming-color-grey-50: #d3d3d3;
$igaming-color-grey-60: #b7b7b7;
$igaming-color-grey-65: #adadad;
$igaming-color-grey-70: #898989;
$igaming-color-grey-80: #777777;
$igaming-color-grey-90: #333333;
$igaming-color-red-70: #dd0000;
$igaming-color-red-80: #b20000;
$igaming-color-red-85: #990f30;
$igaming-color-red-90: #862020;
$igaming-color-green-50: #21d378;
$igaming-color-yellow-50: #f2c446;