$igaming-button-background-color-solid-default: #eaedf3;
$igaming-button-background-color-solid-hover: #e5f1ff;
$igaming-button-border-color-outline: #1a324e;
$igaming-button-border-width-outline: 1px;
$igaming-button-border-style-outline: solid;
$igaming-button-border-radius-outline: 100px;
$igaming-button-border-radius-solid: 50px;